@import url("https://fonts.googleapis.com/css2?family=Alkatra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Alkatra";
  list-style: none;
  color: #e8eaed;
  font-style: normal;
}

p {
  font-family: "Open Sans", sans-serif;
}
body {
  background-color: #202124 !important;
}
a {
  text-decoration: none !important;
}

:root {
  --clr-black: #1c1c1c;
  --clr-white: #ececec;
}

.header > p {
  font-size: 2em;
  font-weight: 800;
}

.header {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  padding-inline: 2rem;
  align-items: center;
  text-align: center;
  z-index: 2;
}

.about {
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  color: var(--clr-white);
  height: 30rem;
}
.about__tittle {
  width: 100%;
  text-align: start;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 3rem;
}
.about__info {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-inline: 10rem;
  font-size: 1.2rem;
}

.about__img {
  border: 2px solid #0093e9;
  width: 15rem;
  margin-right: 10rem;
  object-fit: contain;
  height: 25rem;
}
.proyects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.proyects > h1 {
  text-align: center;
  width: 100%;
  margin: 1.5rem;
  padding: 1.5rem;
  color: #0093e9;
}

.proyect {
  width: 100%;
  display: flex;
  text-align: center;
  margin-top: 2rem;
}

.proyects__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 5rem;
}

.aviso {
  font-size: 13px;
  color: #0e0e0e;
}

.panelHero {
  min-height: 100vh;
}
.presentation {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  min-height: 100vh;
  font-size: 2rem;
  z-index: 1;
  background-color: #20212483;
}
.presentation__container {
  z-index: 2;
}
.video1 {
  position: absolute;
  width: 100%;
  height: 38.5rem;
  z-index: 0;
  object-fit: cover;
}

.palito {
  width: 0.6rem;
  height: 5rem;
  margin-bottom: 0.5rem;
  background-color: #ececec;
}

.gradient-text {
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, #f3ec78, #af4261);
  background-size: 800% 800%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 6rem;
  -webkit-animation: AnimationName 10s ease infinite;
  animation: AnimationName 10s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 30%;
  }
  50% {
    background-position: 100% 70%;
  }
  100% {
    background-position: 0% 30%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 30%;
  }
  50% {
    background-position: 100% 70%;
  }
  100% {
    background-position: 0% 30%;
  }
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 1rem;
  font-size: 1.5rem;
  width: 100%;
  padding: 0.5rem;
  padding-inline: 1rem;
  background-color: #229ed9;
  border-radius: 0.4rem;
  border-color: #229ed9;
  transition: 0.3s ease;
}
.button:hover {
  transform: scale(1.1);
}

.icon {
  color: #ececec;
  background-color: #229ed9;
}

ul {
  margin-top: 10px;
  margin-left: 30px;
  opacity: 0.9;
}
.containerIcons {
  width: 100%;
  display: flex;
  font-size: 2rem !important;
  position: absolute;
  bottom: 5rem;
}
.containerIcons > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  width: 100%;
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.bi:hover {
  transform: scale(1.1);
  filter: invert(60%) sepia(43%) saturate(3944%) hue-rotate(168deg)
    brightness(92%) contrast(83%);
}

.skills {
  position: relative;
  background-color: #1c1c1ccc;
  padding: 2.3rem;
  width: 100%;
  text-align: center;
}

.skills > h2 {
  color: white;
  font-size: 1.5rem;
}
.skills > img {
  opacity: 0.9;
  width: 5rem;
  margin: 2rem;
}

.filterBoot {
  filter: invert(14%) sepia(83%) saturate(6290%) hue-rotate(301deg)
    brightness(99%) contrast(110%);
}

.filterGit {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(102%) contrast(102%);
}
.tools {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5rem;
  width: 100%;
  padding: 1rem 1rem 0 0;
  margin: 0;
}

.toolsbg {
  background-color: #0093e9;
  border-radius: 0.5rem;
  padding-inline: 0.5rem;
  transition: 0.3s ease;
}
.toolsbg:hover {
  background-color: #fff;
  color: #0093e9;
}
.visit {
  display: flex;
  font-size: 2rem;
  justify-content: flex-end;
  gap: 1rem;
}
.cardBots {
  width: 25rem;
  background-color: #1c1c1c !important;
  -webkit-box-shadow: 0px 2px 10px 1px rgba(255, 255, 255, 0.25);
  -moz-box-shadow: 0px 2px 10px 1px rgba(255, 255, 255, 0.25);
  box-shadow: 0px 2px 10px 1px rgba(255, 255, 255, 0.25);
}
.card {
  transition: 0.3s ease;
}
.card:hover {
  transform: scale(1.1);
}

.card-body {
  width: 100% !important;
}
.card_div_img {
  position: relative;
  width: 100%;
}
.cardImg {
  display: block;
  width: 100%;
}
.card_img_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: 0.3s ease;
  cursor: pointer;
}
.card_img_overlay--blur {
  backdrop-filter: blur(1px);
}
.card_img_overlay > * {
  transform: translateY(20px);
  transition: 0.3s ease;
}
.card_img_overlay:hover > * {
  transform: translateY(0);
}
.card_img_overlay:hover {
  opacity: 1;
}

.card_img_overlay h2 {
  font-size: 2em;
}

.btn {
  width: 8rem;
}
.bg-color {
  background-color: var(--clr-black);
}
.content {
  max-width: 1170px;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
}

.techText{
  padding-top: 20px;
}

.logoImg {
  height: 5rem;
}
.navbar-toggler {
  padding: 0.8rem !important;
  background-color: var(--clr-black) !important;
}

.navbar-toggler-icon {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(102%) contrast(102%);
}
.navbar {
  position: absolute !important;
  width: 100%;
  z-index: 2;
  font-size: 2rem;
  text-align: end;
  margin: 0px;
  padding: 0px;
  transition: 0.3s ease !important;
}
.nav-link {
  transition: 0.3s ease !important;
  color: var(--clr-white) !important;
}
.nav-link:hover {
  color: #0093e9 !important;
}
.me-auto {
  align-items: center;
}

.contact-wrapper {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}

.contact-wrapper > * {
  padding: 1em;
}
.contact-form {
  background: #222222;
}
.contact-form form p {
  margin: 0;
  padding: 1em;
}
.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contact-form form .block {
  grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: none;
  border-bottom: 1px solid #0093e9;
  color: #ffffff;
}

.contact-form form button {
  background: #0093e9;
  color: #000000;
  border: 0;
  border-radius: 0.5rem;
  text-transform: uppercase;
  padding: 1em;
  transition: 0.3s ease;
}
.contact-form form button:hover,
.contact-form form button:focus {
  border: solid, #fff, 5px;
  color: #ffffff;
}
.contact-info {
  background: #000000;
}
.contact-info h4,
.contact-info ul,
.contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
}

.contact-info ul li {
  padding: 0.3em;
}

.footer {
  text-align: center;
  margin-top: 1rem;
  padding: 1rem;
  background-color: #222222;
}
.footer h1 {
  font-size: 1rem;
}
/* LARGE SCREEN CONTACT*/
@media (min-width: 700px) {
  .contact-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .contact-wrapper > * {
    padding: 2em;
  }
  .contact-info h4,
  .contact-info ul,
  .contact-info p {
    padding: 1em;
    text-align: left;
  }
}
@media (min-width: 800px) {
  .container {
    margin-right: 0px !important;
    margin-left: 0px !important;
    max-width: unset !important;
    width: 100% !important;
  }

  .navbar {
    padding: 0px !important;
    font-size: 18px !important;
  }
  .navbar-collapse {
    padding: 1rem;
    flex-grow: unset !important;
    flex-basis: unset !important;
  }
}
@media screen and (max-width: 768px) {
  .panelHero {
    min-height: unset;
  }
  .presentation {
    min-height: unset;
    height: 39.5rem;
  }
  .about {
    height: unset;
    padding: 2rem;
  }
  .about__info {
    padding-inline: 2rem;
  }
  .about__img {
    margin-right: 2rem;
  }

  .skills {
    padding-block: 13%;
  }

  .skills > img {
    width: 3rem;
  }
  .icons {
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }
  .button {
    margin-bottom: 2rem;
  }
  .containerIcons {
    justify-content: center;
    bottom: 6rem;
  }
  .containerIcons > ul {
    padding: 0px;
    margin: 0px;
  }
}
@media screen and (max-width: 425px) {
  .presentation {
    height: 39rem;
  }
  .presentation__container {
    font-size: 1rem;
  }
  .gradient-text {
    font-size: 4rem;
  }
  .button {
    font-size: 1rem;
  }
  .about {
    flex-direction: column-reverse;
  }
  .skills {
    padding: unset;
    padding-block: 31.2%;
  }
  .skills > img {
    margin: 1rem;
  }
}

.countrys {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  cursor: pointer;
  margin: 0;
  margin-left: 10px;
  padding: 1rem;
}
.countrys li {
  transition: ease 0.5s;
}

.countrys li > img {
  height: 40px;
}

.countrys li > img:hover {
  transform: scale(1.1);
}
